html, body {
    height: 100%;
}
body {
    min-width: 320px;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    background-color: $bg-color;
    color: $text-color;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: $text-color;
    text-decoration: none;
    transition: color 0.3s;
    &:hover{
        color: $accent-color;
    }
}
.active{
    color: $accent-color;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}